
	<section class="main-body" data-page="contact">
		
		<div>
			<h2 class="main-heading">Contact Me</h2>
			<div><p class="main-quote">Send me a message, I'll get back to you when I can</p></div>
			<div class="line-dec"></div>
			<div class="main-content">
				<form style="max-width:500px; display:block; margin:20px auto;" id="contact" class="contact-form"  method="post" onsubmit="return false">
				<div class="row">

					<div class="myFormDiv col-md-4">

						<fieldset>
							<input name="name" type="text" class="form-control required-input" id="name" placeholder="Your name..." required>

						</fieldset>

					</div>

					<div class="myFormDiv col-md-4">

						<fieldset>
							
<input name="email" type="email" class="form-control required-input" id="email" placeholder="Your email..." required>
						</fieldset>
					
</div>

					<div class="myFormDiv col-md-4">
						<fieldset>
							<input name="subject" type="text" class="form-control required-input" id="subject" placeholder="Subject..." required>
						</fieldset>
					
</div>

					<div class="myFormDiv col-md-12">
						<fieldset>
							<textarea name="message" rows="6" class="form-control required-input" id="message" placeholder="Your message..." required></textarea>
						</fieldset>
					
</div>

						<div class="myFormDiv col-md-6">
							
<fieldset>

								<button type="submit" id="form-submit" class="btn btn-black-outline" >Send it now</button>
							</fieldset>
						
</div>
				</div>
				
</form>
 
				
			</div>
			
		</div>
			
	</section>
