

<!--****************Social Start****************-->
		<div class="main-socials" id="#socials">
		<h2 class="main-heading">Find Me On<p> Social Media</p></h2>
		<div><p class="main-quote">Find Me on my Social Pages...</p></div>
		<div class="line-dec"></div>
		<div class="social-btns-pc">
			<ul>
				<li class="social-btns fab fa-facebook-f" data-social="facebook"></li>	
				<li class="social-btns fab fa-instagram" data-social="instagram"></li>
				<li class="social-btns fab fa-twitter" data-social="twitter"></li>
			</ul>

		</div>	
		</div>


<!--****************Social End****************-->

<footer>
	<section class="footer-body">

		<div class="bg_light" style="text-align: center;">

			<p>Made by Kamogelo Molefe</p>

		</div>

	</section>

</footer>
	