
<!-- Modal Background start-->


	<div id="mymodal-bg" class="bg-mymodal" style="display:none">
	

<!--****************Notification Modal Start****************-->

	<div class="myNotif detail" id="success-notif" style="display: none;">

		<div >

			<i class="icon-sli-check" style="color:green"></i>
			<span class="message">Hey there, your message has been sent. We'll contact you as soon as possible</span>

		</div>
	
</div>
	

<div class="myNotif detail" id="error-notif" style="display: none;">

		<div >

			<i class="icon-sli-close" style="color:orangered"></i>
			<span class="message">Oops, something went wrong. Please try again</span>
			</div>

		</div>

	<!--**************** Notification Modal End****************-->

	</div>

	<!-- Modal Background end-->

<script type="text/javascript" src="assets/js/index.js">
</script>
 