<!-- ***** Pre Loader Start ***** -->

	<section class="preloader">
		<div class="spinner">


			<span class="spinner-rotate"></span>

		</div>

	</section>

<!-- ***** Pre Loader End ***** -->


<header class="header-area header-sticky new-hero background-header">

		<div class="container">

			<div class="row">

				<div class="col-12">

					<nav class="main-nav">

						<div>

							<a class="alx-mobile" href="#" style="float:left;" >
								<img src="https://images.app.goo.gl/VzkiFPnu5cAWdcBN8" class="logo-class logo" alt="logo"/>

							</a>
						</div>

						<!-- ***** Logo Start ***** -->

						<a class="alx-pc" href="#">
							<img src="https://images.app.goo.gl/VzkiFPnu5cAWdcBN8" class="logo-class logo" alt="logo"/>

						</a>
						<div class="logo title-pc"><p style="margin-bottom:unset; font-size:18px;">My</p> <p style="margin-bottom:unset; font-size:18px;">Profile</p></div>

						<!-- ***** Logo End ***** -->

						<!-- ***** Menu Start ***** -->

						<ul class="nav">

							<li class="scroll-to-section"><a href="#banner" class="menu-item scroll-link" data-id="banner">Home</a></li>

							<li class="scroll-to-section"><a href="#about" class="menu-item scroll-link" data-id="about">About Me</a></li>
							<li class="scroll-to-section"><a href="#social" class="menu-item scroll-link" data-id="socials">Social</a></li>

							<li class="scroll-to-section"><a href="tweets.html" class="menu-item">Tweets</a></li>

							<li class="scroll-to-section"><a href="skills.html" class="menu-item">Skills</a></li>

							<li class="scroll-to-section"><a href="contact.html" class="menu-item">Contact Me</a></li>

							
							<li class="scroll-to-section social-nav">
									<ul class="menu-item" style="color:grey">
									share
									<a class="social-btns facebook-btn fab fa-facebook-f" data-social="facebook-share"></a>

									<a class="social-btns linkedin-btn fab fa-linkedin" data-social="linkedin-share"></a>

									<a class="social-btns twitter-btn fab fa-twitter" data-social="twitter-share"></a>

								</ul>

							</li>

							
						</ul>
						<a class='menu-trigger'>
							<span>Menu</span>

						</a>

					<!-- ***** Menu End ***** -->

					</nav>

				</div>

			</div>

		</div>

</header>