
<main style="position:relative; top:80px">
	
		
		<div class="main-banner" id="#banner">
			<div class="overlay"></div>
			<img class="banner-image" src="https://lh3.googleusercontent.com/5Rnr2OKaXCFS3fm6D3qyAS0qm4CKY_nvTxnEFTk8YCOnOoL04NIuu5xx7YCMmBVBOoS9pKzCpMljarulGqhDS0lfeS_2hFvpZQ=w1349">
			<div class="main-banner-text"><h1>Kamo Molefe Website Profile</h1></div>
			
		</div>
		
		<section class="main-body" data-page="index" style="width:100%; display:block; background:#222">
		<div id="#about">
			<h2 class="main-heading">Who is <p>Kamo Molefe?</p></h2>
			<div><p class="main-quote">"Legacy - Planting seeds in garden you never get to see" - Hamilton</p></div>
			<div class="line-dec"></div>
			<div class="main-content">
				<div class="main-article">
					<h3>About</h3>
					<p>Born and raised West Rand, South Africa I am a self-taught Web developer and Software Engineer. I have always loved technology and what it can
					or has done from the caveman inventing the first wheel to being able to launch a rocket and land a man on the moon. The capabilities of the human mind are
					astounding. And what we have created and developed to ultimately benefit mankind is beyond belief. I would like to leave my own footprint in the sand by learning
					more and devoloping more. To contribute even in its miniscult to the ever growing world of technology and science</p>
				</div>
				<div class="main-article">
					<h3>Mission</h3>
					<p>My key mission is to grow and develop myself and my community. I have taken steps to accomplish this by becoming a Web Developer
					I have no formal schooling in Web Development at the time of writing but I have taken the time and effort to learning as much as I can, 
					which is also why I am here today. I belive that learning is a part of everyone's journey and have decided to take it upon myself to seek
					out education in the various aspects of development which I am fundamentally not knowledgeable in.
					</p>
				</div>
				
			</div>
			<div class="main-content">
				<div class="main-article">
					<h3>Skills</h3>
					<p>As a self taught web developer I have acquired a variety of skills, I have learned HTML, CSS and Javascript and have also learned
					PHP. I have also worked with a variety of frameworks and libraries such as JQuery, Laravel, NodeJS, Angular and ReactJS. Im always ready to learn
					more and eager to start my journey in becoming a Software Engineer.</p>
				</div>
				<div class="main-article">
					<h3>Values</h3>
					<p>My core values include hard work and dedication. I believe it takes a lot of time and effort to grow and become the best version of yourself,
					to reach your goals and avoid stagnation. This takes time and effort and is never easy. Which is why I value hard work and dedication. As a self taught 
					developer, I understand that it takes a lot of this in order to reach your goals. Many of the best developers never go a single day without writing
					a single piece of code. That type of resilience is what I strive for because what you're able to do by taking a single step will in turn result in something
					magnificent. And with this application I hope to take my first step</p>
				</div>
				
			</div>
		</div>
			
	</section>
		
</main>
	