<main>
	<section class="main-body" data-page="skills">
		
		<div id="#about">
			<h2 class="main-heading">What are <p>My Skills?</p></h2>
			<div><p class="main-quote">These are some of my current Skills, I'm alway eager to learn and grow more</p></div>
			<div class="line-dec"></div>
			<div class="main-content skillText">
				<div class="main-article">
					<h3>HTML, CSS</h3>
					<div class="bar-container" data-skillId="html"><div class="bar-graph" data-bar="86"></div></div>
					<h3>86%</h3>
				</div>
				<div class="main-article">
					<h3>JavaScript</h3>
					<div class="bar-container" data-skillId="css"><div class="bar-graph" data-bar="75"></div></div>
					<h3>75%</h3>
				</div>
				
			</div>
			<div class="main-content skillText">
				<div class="main-article">
					<h3>React</h3>
					<div class="bar-container" data-skillId="javascript"><div class="bar-graph" data-bar="88"></div></div>
					<h3>88%</h3>
				</div>
				<div class="main-article">
					<h3>Angular</h3>
					<div class="bar-container" data-skillId="php"><div class="bar-graph" data-bar="89"></div></div>
					<h3>89%</h3>
				</div>
				
			</div>
		</div>
			
	</section>
	</main>