<section class="main-body" data-page="tweets">
		
		<div id="#about">
			<h2 class="main-heading">Tech Tweets</h2>
			<div><p class="main-quote">Why I love Technology</p></div>
			<div class="line-dec"></div>
			<div class="main-content">
				<div class="main-article">
					<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Falcon 9&#39;s first stage returns to Earth and lands on the Just Read the Instructions droneship after launch of GPS III-5 <a href="https://t.co/UtieBJMAYh">pic.twitter.com/UtieBJMAYh</a></p>&mdash; SpaceX (@SpaceX) <a href="https://twitter.com/SpaceX/status/1406983737825398786?ref_src=twsrc%5Etfw">June 21, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
				<div class="main-article">
					<h3>To the moon</h3>
					<p>The science has always been a passion of mine since I was a child. It always baffled me that we sent a man to the moon especially with the technology of the 1960s
					I believe it truely showed man's resilience and love for exploration. It excites me now to see how far we have come and the idea that we may very well send
					men and women to another planet altogether exites me even more. Technology has come a long way and though we still have a ways to go, I believe it can be achieved
					and I would love nothing more than to contribute to this and leave my mark as a historian and a pioneer. I think Africa is the way forward, Africa is the future</p>
				</div>
				
			</div>
			<div class="main-content">
				<div class="main-article">
					<h3>Blockchain can change the world</h3>
					<p>Blockchain has been the source of much deliberation in the past few years, with many seeing it as a get rich scheme while others see it as a source of income
					I however see it differently, I believe blockchain can change lives and this is a prime example of how. Blockchain is essentially a shared space allowing for 
					far greater technological advances and greater computing power. Blockchain takes away the centralisation and gives power back to the people. In terms of technology 
					blockchain is definately the way forward. It is the future of technology and the more it evolves and grows the better for Africa. It has the potential to solve so many
					real world problems especially for Africa and make it easier of people to get what they need when they need it. </p>
				</div>
				<div class="main-article">
					<blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/QatarEconomicForum?src=hash&amp;ref_src=twsrc%5Etfw">#QatarEconomicForum</a>, powered by Bloomberg, will discuss digital transformation trends that can enable global businesses to innovate in customer services, and harnessing new technologies such as 5G, IOT, AI and blockchain.<br><br>To register, visit: <a href="https://t.co/3GMnqRVfgv">https://t.co/3GMnqRVfgv</a><a href="https://twitter.com/hashtag/InvestQatar?src=hash&amp;ref_src=twsrc%5Etfw">#InvestQatar</a> <a href="https://t.co/nuB5PuaokC">pic.twitter.com/nuB5PuaokC</a></p>&mdash; Qatar Free Zones Authority (@QatarZones) <a href="https://twitter.com/QatarZones/status/1405539506141286404?ref_src=twsrc%5Etfw">June 17, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
				
			</div>
		</div>
			
	</section>